<!DOCTYPE html>
<html>
  <head>
    <nav>
    	<link rel="stylesheet" href="pages.css.scss">
    </nav>
    <title>S7</title>
  </head>
  <body>
    <h3>I do nothing.</h3>
    <button type="button">View my Work</button>
  </body>
  <footer>
    <img src="https://www.dropbox.com/s/uhghlk6shj6kd3e/001-github-logo.png?dl=0&m=">
    <img src="https://www.dropbox.com/s/0ul6lihglk0f76f/002-linkedin-logo.png?dl=0&m=">
    <img src="https://www.dropbox.com/s/7jz8mcel0t5j1rl/003-twitter-logo-silhouette.png?dl=0&m=">
  </footer>
</html>